* {
  margin: 0;
  padding: 0;
  color: var(--textcolor);
}
:root {
  --bgcolor: none;
  --textcolor: black;
}
.body {
  /* position: relative; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}
.containerhome {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  /* position: relative; */
  margin: 0;
  padding: 0;
}
.bgimage {
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  z-index: -1;
  position: absolute;
}
.slogan {
  width: 50vw;
  height: 100vh;
  display: flex;
  left: 2em;
  position: absolute;
  flex-direction: column;
  justify-content: center;

  /* align-items: center; */
}
.slogan > .subheading {
  color: white;
  opacity: 1;
  text-align: left;
}
.slogan > .heading {
  color: white;
  opacity: 1;
  text-align: left;
}

.secondpage {
  background-color: var(--bgcolor);
  display: flex;
  top: 100vh;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  box-sizing: border-box;
  flex-direction: column;
}
.image {
  width: 75%;
  padding: 2em;
  height: 75vh;
  object-fit: fill;
}
.content {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.btn {
  margin-top: 1em;
  padding: 1em 2em;
  text-transform: uppercase;
}
.pcontent {
  padding: 1em 2em;
  opacity: 0.6;
  line-height: 1.7em;
}
.heading {
  font-size: 2em;
  line-height: 0.9em;
  opacity: 0.7;
}
.subheading {
  padding-top: 0.2em;
  opacity: 0.7;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.5em;
}
.thirdpage {
  /* position: absolute; */
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  object-fit: contain;
  background-color: var(--bgcolor);
}
.thirdpagecontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.fourthpage {
  background-color: var(--bgcolor);
}
.fourthcontent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fouritems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2em;
  margin: 2em;
}
.fouritems:hover {
  background-color: rgba(233, 216, 224, 0.94);
  transition-duration: 0.3s;
}

/* media query */

@media only screen and (min-width: 1000px) {
  .secondpage {
    flex-direction: row;
  }
  .image {
    width: 50%;
    padding: 2em;
    height: 75vh;
    object-fit: fill;
  }
  .content {
    width: 45%;
    flex-direction: column;
  }
  .heading {
    font-size: 3.5em;
    line-height: 0.9em;
    opacity: 0.7;
  }
  .slogan {
    flex-direction: column;
    justify-content: center;

    align-items: center;
    left: unset;
    right: 0;
  }

  .thirdpage {
    top: 200vh;
    flex-direction: row;
    padding: 2em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }
  .fourthcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .fouritems {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2em;
    margin: 2em;
  }
  .fouritems:hover {
    background-color: rgba(233, 216, 224, 0.94);
    transition-duration: 0.3s;
  }
}

@media only screen and (min-width: 768px) {
  @media only screen and (max-width: 1000px) {
    .secondpage {
      flex-direction: row;
    }
    .image {
      width: 50%;
      padding: 2em;
      height: 75vh;
      object-fit: fill;
    }
    .heading {
      font-size: 2em;
      line-height: 0.9em;
      opacity: 0.7;
    }
    .btn {
      margin-top: 1em;
      padding: 1em 2em;
      text-transform: uppercase;
    }
    .content {
      width: 45%;
      flex-direction: column;
    }
    .slogan {
      flex-direction: column;
      justify-content: center;

      align-items: center;
      left: unset;
      right: 0;
    }

    .thirdpage {
      /* position: absolute; */
      top: 215vh;
      flex-direction: row;
      padding: 2em;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
    }
    .fourthcontent {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }
    .fouritems {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 2em;
      margin: 2em;
    }
    .fouritems:hover {
      background-color: rgba(233, 216, 224, 0.94);
      transition-duration: 0.3s;
    }
  }
}
